*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url(https://preview.redd.it/z7ee4fnilp231.jpg?width=440&format=pjpg&auto=webp&s=e19a234b69b33a9c4913b18acd47f9597485a4c4);
    background-position: center center;
    background-size: cover;
    transition: 0.4s;
}